<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" >
    xmlns:tools="http://schemas.android.com/tools"

    <uses-permission android:name="android.permission.INTERNET" /> //Conecção Supabase

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projeto2">
        <activity
            android:name=".Central"
            android:exported="false" />
        <activity
            android:name=".Quarta_capa"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Fragment_biblio2"
            android:exported="false" />
        <activity
            android:name=".Formulario_registro"
            android:exported="false"
            android:theme="@style/Theme.Projeto2" />
        <activity
            android:name=".Formulario_login"
            android:exported="false" />
        <activity
            android:name=".log0regis"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Perfil"
            android:exported="false" />
        <activity
            android:name=".Configuracoes"
            android:exported="false" />
        <activity
            android:name=".Minhabiblio"
            android:exported="false" />
        <activity
            android:name=".Buscador"
            android:exported="false" />
        <activity
            android:name=".Inicio_2"
            android:exported="false" />
        <activity
            android:name=".Usuario"
            android:exported="false"
            android:label="@string/title_activity_usuario"
            android:theme="@style/Theme.Projeto2.NoActionBar" />
        <activity
            android:name=".Tela_do_Usuario"
            android:exported="false" />
        <activity
            android:name=".Biblioteca_inicio_2"
            android:exported="false" />
        <activity
            android:name=".Biblioteca_incio_2"
            android:exported="false" />
        <activity
            android:name=".Info_livro"
            android:exported="false" />
        <activity
            android:name=".Inicio"
            android:exported="false" />
        <activity
            android:name=".biblioteca_inicio"
            android:exported="false"
            android:label="@string/title_activity_biblioteca_inicio"
            android:theme="@style/Theme.Projeto2.NoActionBar" />
        <activity
            android:name=".Biliotecainicio"
            android:exported="false"
            android:label="@string/title_activity_biliotecainicio"
            android:theme="@style/Theme.Projeto2.NoActionBar" />
        <activity
            android:name=".Cadastro2"
            android:exported="false" />
    </application>

</manifest>